<ul>
  {{#each records}}
  <li class="d-flex">
    <div>{{this.id}}</div>
    <div>{{this.name}}</div>
    <div>{{this.date}}</div>
    <div>{{this.amount}}</div>
    <div>{{this.category}}</div>
  </li>
  {{/each}}
</ul>